@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
               aria-expanded="true">
                @{
                    var current = await UserManager.GetUserAsync(User);
                }
                <img src="@current.UrlProfiePhoto" alt="https://github.com/mdo.png" width="64" height="64" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">

                <li>
                    <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profil</a>
                </li>

                <hr class="dropdown-divider">

                <li>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="btn btn-link dropdown-item">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    }
    else
    {
        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
               aria-expanded="true">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="mdo" width="64" height="64" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
                <li>
                    <a class="dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li>
                    <a class="dropdown-item" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>

            </ul>


        </div>

    }
</ul>