@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}
<style>
    body {
        background-color: #fc4a1a;
        background-image: linear-gradient(315deg, #fc4a1a 0%, #f7b733 100%);
    }

    .card {
        border: none;
        border-radius: 15px;
    }

    .gradient-custom-3 {
        background-color: #fc4a1a;
        background-image: linear-gradient(315deg, #fc4a1a 0%, #f7b733 100%);
    }

    .gradient-custom-4 {
        background-color: #43cea2;
        background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 74%);
    }

    .form-label {
        font-weight: bold;
    }

    .btn-block {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .mt-2 {
        margin-top: 0.5rem !important;
    }

    .mt-4 {
        margin-top: 1.5rem !important;
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }

    .mb-4 {
        margin-bottom: 1.5rem !important;
    }

    .text-danger {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .h-70 {
        height: 70vh;
    }
</style>
<section>
    <div class=" d-flex align-items-center h-70 gradient-custom-3">
        <div class="container h-70">
            <div class="row d-flex justify-content-center align-items-center h-70">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-3">SIGN UP</h2>

                            <hr class="mt-2" />

                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="alert alert-danger text-danger"></div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Input.Email" class="form-label">Your Email</label>
                                    <input asp-for="Input.Email" type="email" class="form-control form-control-lg" autocomplete="email" aria-required="true" placeholder="Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <input asp-for="Input.Password" type="password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Input.ConfirmPassword" class="form-label">Repeat your password</label>
                                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button asp-page-handler="RegisterUser" type="submit" onclick="loading()" class="btn btn-success btn-block btn-lg">
                                        Sign Up
                                    </button>
                                </div>

                                <hr class="mt-4" />
                                <p class="text-center text-muted mb-0">Already have an account? </p>
                                <div class="d-flex justify-content-center mt-2">
                                    <a role="button" asp-page="./Login" class="btn btn-primary btn-block btn-lg gradient-custom-4">Sign In</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial"   />
}